.table-row td {
	background-color: cyan;
	padding: 0;
}

.isi-td {
	height: 0;
	opacity: 0;
	overflow: hidden;
	animation-name: anim-td;
	animation-delay: 0.4s;
    animation-duration: 0.3s;
	animation-fill-mode: forwards;
}

.isi-td-content {
	width: 100%;
	height: 100%;
	border: 5px solid black;
}

.table-row {
	height: 0;
	background-color: red;
	animation-name: anim;
    animation-duration: 0.4s;
	animation-fill-mode: forwards;
}

@keyframes anim-td {
	0% {
		height: 150px;
		padding: 10px;
	}
	100% {
		height: 150px;
		padding: 10px;
		opacity: 1;
	}
}

@keyframes anim {
	from {
		height: 0;
	}
	to {
		height: 150px;
	}
}