* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: roboto-regular;
	touch-action: none;
}

.page-title {
	font-size: 24pt;
	margin-top: 10px;
	margin-bottom: 20px;
}

.content {
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
}

.form-item {
	margin-bottom: 20px;
}

.form-item-label {
	margin-bottom: 5px;
	font-size: 11pt;
	font-weight: bold;
}

input[type="text"], input[type="password"], input[type="file"], textarea, select {
	width: 100%;
	font-size: 12pt;
	padding: 8px 7px;
}

input[type="file"] {
	border: 1px solid #9E9E9E;
}

button {
	cursor: pointer;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */  
}

.btn-default, .btn-default:focus, .btn-negative, .btn-negative:focus, .btn-neutral, .btn-neutral:focus, .btn-positive, .btn-positive:focus {
	border: 0;
	font-size: 12pt;
	padding: 8px 15px;
	color: white;
	box-shadow: 0 0 3px #777777;
	border-radius: 2%;
}

.btn-default:disabled, .btn-negative:disabled, .btn-neutral:disabled, .btn-positive:disabled, .btn-default:disabled:hover, .btn-negative:disabled:hover, .btn-neutral:disabled:hover, .btn-positive:disabled:hover {
	background-color: #9E9E9E !important;
	color: #616161 !important;
	cursor: default;
}

.btn-default, .btn-default:focus {
	background-color: #2196F3;
}

.btn-default:hover {
	background-color: #1E88E5 !important;
	color: white !important;
}

.btn-negative, .btn-negative:focus {
	background-color: #F44336;
}

.btn-negative:hover {
	background-color: #E53935 !important;
	color: white !important;
}

.btn-neutral, .btn-neutral:focus {
	background-color: #616161;
}

.btn-neutral:hover {
	background-color: #424242 !important;
	color: white !important;
}

.btn-positive, .btn-positive:focus {
	background-color: #388E3C;
}

.btn-positive:hover {
	background-color: #2E7D32 !important;
	color: white !important;
}

.btn-action {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  background-color: transparent;
  border: 1px solid transparent;
}

.btn-action:hover {
  border: 1px solid black;
}

.error {
	color: red;
	font-weight: normal;
	font-size: 10pt;
}

table {
	width: 100%;
	border-spacing: 0;
}

table.table {
	width: 1200px;
	border-bottom: 1px solid #BDBDBD;
	border-right: 1px solid #BDBDBD;
	border-left: 1px solid #BDBDBD;
}

table thead tr td {
	font-weight: bold;
}

table.table thead tr td {
	border-bottom: 1px solid #BDBDBD !important;
	border-top: 1px solid #BDBDBD !important;
}

table td {
	font-size: 12pt;
	padding: 10px 5px;
}

table.table tbody tr:nth-child(even) {
	background-color: #EEEEEE;
}

.table-container {
	clear: both;
	overflow: auto;
	margin: 0 auto;
}

table td[data-align="center"] {
	text-align: center;
}

.dialog-background {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000;
}

.dialog {
	display: none;
	width: 500px;
	vertical-align: center;
	position: relative;
	margin: 15vh auto 0;
	box-shadow: 0 0 20px #333333;
	font-size: 12pt;
	z-index: 1001;
	overflow: auto;
}

.dialog-header, .dialog-body, .dialog-footer {
	position: relative;
	padding: 15px;
	background-color: white;
}

.dialog-header {
	height: 70px;
	background-color: #009688;
	color: white;
}

.dialog-title {
	position: absolute;
	bottom: 10px;
	left: 10px;
	font-size: 16pt;
}

.dialog-footer {
	padding: 15px;
	overflow: auto;
}

.dialog-footer button {
	float: right;
}

.dialog-footer button:nth-child(n+2) {
	margin-right: 10px;
}

.datalist {
	display: none;
	position: absolute;
	background-color: white;
	width: 300px;
	min-height: 70px;
	max-height: 300px;
	margin-top: 5px;
	box-shadow: 0 0 10px #777777;
	border-radius: 3px;
	padding: 10px 0;
	overflow: hidden;
	font-weight: normal;
	z-index: 100;
}

.datalist:hover {
	overflow-y: auto;
}

.datalist-item {
	padding: 15px 10px;
	cursor: pointer;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.datalist-item:hover, .datalist-item.active {
	background-color: rgba(0, 0, 0, 0.1);
}

.datalist-empty-state {
	width: 100%;
	height: 70px;
	margin-top: -10px;
	margin-bottom: -10px;
	background-color: #EEE;
	color: #555;
	text-align: center;
	padding-top: 20px;
	font-size: 14pt;
}

.svg-loader-container {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: white;
}

.svg-loader {
    position: absolute;
    display: block;    
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

.table-empty-state, .default-empty-state {
	display: none;
	margin: 0 auto;
	height: 200px;
	position: relative;
	background-color: #EEE;
	text-align: center;
	line-height: 200px;
	font-size: 24pt;
	color: #AAA;
}

.table-empty-state.shown, .default-empty-state.shown {
	display: block;
}

.default-loading-container {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	right: 0;
}

.default-loading-container.shown {
	display: block;
}

.default-loading-container .default-empty-state, .default-loading-container .svg-loader-container {
	background-color: transparent !important;
}

.default-loading-container .default-empty-state {
	height: 100%;
}