* {
	
}

.page-title {
	font-size: 24pt;
	margin-top: 10px;
	margin-bottom: 20px;
}

.form-item {
	margin-bottom: 15px;
}

.form-item-label {
	margin-bottom: 5px;
	font-size: 11pt;
	font-weight: bold;
}

input[type="text"], input[type="file"], textarea, select {
	width: 100%;
	font-size: 12pt;
	padding: 5px 7px;
}

select {
	padding: 8px 7px;
}

input[type="file"] {
	border: 1px solid #9E9E9E;
}

.error {
	color: red;
	font-weight: normal;
	font-size: 10pt;
}

table {
	width: 100%;
}

table thead tr td {
	font-weight: bold;
}

table.table thead tr td {
	border-bottom: 1px solid #BDBDBD;
	border-top: 1px solid #BDBDBD;
}

table td {
	font-size: 12pt;
	padding: 10px 5px;
}

table.table td {
	border-right: 1px solid #BDBDBD;
}

table.table td:nth-child(1) {
	border-left: 1px solid #BDBDBD;
}

table.table tr:last-child td{
	border-bottom: 1px solid #BDBDBD;
}

table.table tbody tr:nth-child(even) {
	background-color: #EEEEEE;
}