.btn-tambah {
	margin-bottom: 20px;
}

.btn-submit-tambah, .btn-submit-edit, .btn-batal, .btn-submit-delete {
	float: right;
}

.table-container {
  min-width: 1000px;
}

.table-kendaraan {
  width: 1180px !important;
}

table .td-no, .td-ketersediaan, .th-jumlah-transaksi, .td-jumlah-transaksi {
  text-align: center;
}

.table-empty-state {
  margin-left: 0;
  width: 1180px;
}

td[data-col="no"] {
  width: 50px;
}

td[data-col="nomor-kendaraan"] {
  width: 170px;
}

td[data-col="nama-kendaraan"] {
  width: 250px;
}

td[data-col="ketersediaan"] {
  width: 100px;
}

td[data-col="jumlah-transaksi"] {
  width: 100px;
}

td[data-col="keterangan"] {
  width: 250px;
}

td[data-col="status"] {
  width: 200px;
}

td[data-col="action"] {
  width: 100px;
}

@media screen and (max-width: 600px) {
  .table {
	  width: 350px;
  }
  
  .table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  .table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 20px;
  }
  .table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  .table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  .table td:last-child {
    border-bottom: 0;
  }
}