.btn-tambah {
	margin-bottom: 20px;
}

.dialog {
	width: 500px;
}

.dialog-header {
	
}

.dialog-footer {
	height: 70px;
}

.btn-submit-tambah, .btn-submit-edit, .btn-batal {
	float: right;
}

.btn-batal {
	margin-right: 10px;
}