.table-container {
	margin: 0 auto 50px;
}

.table-kiriman {
	width: auto !important;
	margin: 10px auto 0;
}

.table-kiriman a:link, .table-kiriman a:visited {
	text-decoration: none;
	color: black;
}

.table-kiriman tbody .tr-kiriman:hover {
	background-color: #E0E0E0 !important;
}

.tabs-content[data-tabs-number="1"] .table-empty-state {
	width: 870px;
}

.tabs-content[data-tabs-number="2"] .table-empty-state, .tabs-content[data-tabs-number="3"] .table-empty-state, .tabs-content[data-tabs-number="4"] .table-empty-state, .tabs-content[data-tabs-number="5"] .table-empty-state, .tabs-content[data-tabs-number="6"] .table-empty-state {
	width: 1270px;
}

.tabs-content[data-tabs-number="7"] .table-empty-state {
	width: 1240px;
}

.tabs-content[data-tabs-number="8"] .table-empty-state {
	width: 920px;
}

.table-kiriman td[data-col="nama-kirim"] {
	width: 150px;
}

.table-kiriman td[data-col="harga"] {
	width: 180px;
}

.table-kiriman td[data-col="asal"], .table-kiriman td[data-col="tujuan"] {
	width: 180px;
}

.table-kiriman td[data-col="km"] {
	width: 80px;
}

.table-kiriman td[data-col="konfirmasi"] {
	width: 150px;
}

.table-kiriman td[data-col="kapal"] {
	width: 130px;
}

.table-kiriman td[data-col="no-kontainer"] {
	width: 100px;
}

.table-kiriman td[data-col="status"] {
	width: 170px;
}

.table-kiriman td[data-col="action"] {
	width: 100px;
}

.table-kiriman td[data-col="waktu-kiriman"] {
	width: 70px;
}

.table-kiriman td[data-col="total-waktu"] {
	width: 70px;
}

.table-kiriman td[data-col="berakhir"] {
	width: 230px;
}

.table-kiriman td[data-col="cancel-by"] {
	width: 150px;
}

.shipment-picture {
	display: block;
	width: 100px;
	margin: 5px auto 0;
}

.input-no-kontainer {
	width: 150px !important;
}

.subsection-sort {
	float: right;
}

.btn-action {
	display: block;
	margin: 0 auto;
}

.dialog-ubah {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	width: 600px;
	height: 300px;
	background-color: white;
	border: 1px solid black;
	z-index: 10;
}

.dialog-ubah-buttons {
	margin-top: 20px;
	margin-left: 30px;
	overflow: auto;
}

.dialog-ubah-button-container, .dialog-ubah-arrow {
	float: left;
}

.dialog-ubah-button-container {
	width: 100px;
	text-align: center;
}

.dialog-ubah-arrow {
	margin: 8px 15px 0;
}

.dialog-ubah-button {
	display: block;
	margin: 0 auto;
}

.dialog-ubah .button-time {
	margin-top: 5px;
	font-size: 10pt;
}

.dialog-ubah-text {
	width: 240px;
	margin: 30px auto 0;
}

.dialog-ubah-text-1 {
	margin-bottom: 10px;
}

.dialog-ubah-text .dialog-ubah-label {
	float: left;
	width: 60px;
	text-align: right;
	margin-right: 10px;
	margin-top: 8px;
}

.dialog-ubah-text .dialog-ubah-input-status {
	width: 100px;
	background-color: #E0E0E0;
	color: #616161;
	border: 1px solid #E0E0E0;
}

.dialog-ubah-text .dialog-ubah-input-waktu {
	width: 170px;
}

.btn-ubah2 {
	display: block;
	width: 120px;
	height: 50px;
	margin: 30px auto 0;
}

.btn-view-kontak {
	margin-top: 10px;
}

table tbody tr:nth-child(even) {
	background-color: transparent !important;
}

table tbody tr:nth-child(4n - 1), table tbody tr:nth-child(4n) {
	background-color: #EEE !important;
}

.row-detail-tr {
	height: 0;
}

.row-detail-tr.show {
	height: 200px;
}

.row-detail-td {
	display: none;
	width: 1000px;
	height: 0;
	padding: 0;
	overflow: hidden;
	white-space: nowrap;
}

.row-detail-tr.show .row-detail-td {
	display: table-cell;
}

.row-detail-td-content {
	width: 100%;
	height: 200px;
	padding: 25px;
	opacity: 0;
}

.row-detail-tr.show .row-detail-td-content {
	animation-name: row-detail-td-show;
    animation-duration: 0.3s;
	animation-fill-mode: forwards;
}

@keyframes row-detail-td-show {
	to {
		opacity: 1;
	}
}

.detail-title {
	font-weight: bold;
	margin-bottom: 10px;
}

.detail-row {
	margin-bottom: 10px;
}

.detail-label {
	display: inline-block;
	width: 90px;
}