.header-overlay {
	width: 100%;
	height: 70px;
}

input[type="text"] {
	border: 1px solid #999;
}

input[type="text"]:focus {
	border: 1px solid #1E88E5;
}

.container {
	width: 80vw;
	margin: 0 auto;
}

.section {
	height: 80px;
	margin-top: 20px;
}

.subsection-filter {
	width: 70%;
	float: left;
}

.subsection-title {
	float: left;
	margin-top: 33px;
	margin-right: 20px;
}

.subsection-filter .subsection-title {
	height: 70px;
}

.form-item {
	float: left;
	width: 170px;
	margin-right: 10px;
}

.form-item-jarak {
	width: 210px;
}

.form-item-jarak span {
	font-size: 10pt;
}

.input-jarak-min, .input-jarak-max {
	width: 70px !important;
}

.input-jarak-min {
	margin-right: 10px;
}

.form-item-lowest-bid {
	width: 120px;
}

.form-item-label {
	font-size: 10pt;
}

.table-kiriman {
	margin: 20px auto 0;
	width: auto !important;
}

.table-kiriman thead, .table-kiriman tbody {
	display: block;
}

.table-kiriman thead {
	background-color: white;
}

.table-kiriman thead tr {
	height: 40px;
}

.table-kiriman.fixed thead {
	position: fixed;
	top: 50px;
	margin-right: 15px;
}

.table-kiriman.fixed tbody {
	margin-top: 40px;
}

.table-kiriman td[data-col="nama-kirim"] {
	width: 150px;
}

.table-kiriman td[data-col="harga"] {
	width: 180px;
}

.table-kiriman td[data-col="asal"], .table-kiriman td[data-col="tujuan"] {
	width: 200px;
}

.table-kiriman td[data-col="km"] {
	width: 50px;
}

.table-kiriman td[data-col="berakhir"] {
	width: 260px;
}

.table-kiriman a:link, .table-kiriman a:visited {
	text-decoration: none;
	color: black;
}

.table-kiriman tbody tr:hover {
	background-color: #E0E0E0 !important;
}

.shipment-picture {
	display: block;
	width: 100px;
	margin: 5px auto 0;
}

.subsection-sort {
	float: right;
}

.subsection-sort .form-item {
	width: 200px;
	float: right;
}

.td-nama-kirim, .td-title, .td-km {
	text-align: center;
}