a.btn-kirim-barang {
	
}

.section {
	height: 80px;
	margin-top: 20px;
}

.subsection-filter {
	width: 70%;
	float: left;
}

.subsection-title {
	float: left;
	margin-top: 33px;
	margin-right: 20px;
}

.subsection-filter .subsection-title {
	height: 70px;
}

.form-item {
	float: left;
	width: 170px;
	margin-right: 10px;
}

.form-item-jarak {
	width: 210px;
}

.form-item-jarak span {
	font-size: 10pt;
}

.input-jarak-min, .input-jarak-max {
	width: 70px !important;
}

.input-jarak-min {
	margin-right: 10px;
}

.form-item-lowest-bid {
	width: 120px;
}

.form-item-label {
	font-size: 10pt;
}

.table-kiriman {
	margin-top: 20px;
}

.shipment-picture {
	display: block;
	width: 100px;
}

.subsection-sort {
	float: right;
}

.subsection-sort .form-item {
	width: 200px;
	float: right;
}