* {
	font-size: 12pt;
}

.section-1a, .section-1b {
	float: left;
}

.section-1 {
	overflow: auto;
	margin-bottom: 50px;
}

.section-1a {
	width: 55%;
	float: left;
}

.section-1b {
	width: 40%;
	float: right;
	margin-right: 1%;
}

.td-label {
	text-align: right;
}

.td-titikdua {
	width: 10px;
}

.asal {
	
}

.asal-title {
	font-size: 14pt;
	font-weight: bold;
}

.asal {
	margin-bottom: 20px;
}

.td-address-label {
	width: 120px;
}

#map-asal {
	border: 1px solid black;
}

.section-title {
	font-size: 14pt;
	font-weight: bold;
	margin-bottom: 10px;
}

.table-section-1a {
	margin-bottom: 50px;
}

.item {
	width: 100%;
	padding: 1%;
	border: 1px solid black;
	margin-bottom: 15px;
	overflow-y: auto;
}

.table-section-left {
	width: 50%;
	float: left;
	margin-right: 5%;
}

.table-section-right {
	width: auto;
}

.table-section-left .td-item-label {
	width: 80px;
	font-weight: bold;
}

.table-section-right .td-item-label {
	width: 120px;
	font-weight: bold;
}

.table-section-left .td-item-value {
	
}

.section-3 {
	margin-bottom: 50px;
	clear: both;
}

.detail-pertanyaan {
	width: 600px;
	height: 140px;
}

.btn-submit-pertanyaan {
	float: right;
	margin-top: -10px;
}

.discussions {
	width: 100%;
}

.discussions-item {
	overflow: auto;
}

.detail-jawab-pertanyaan {
	display: none;
	margin: 10px 0;
	overflow: auto;
}

.btn-submit-jawab-pertanyaan {
	float: right;
}

.questions {
	overflow: auto;
	background-color: #F4FF81;
}

.questions-user-id, .questions-text, .answers-user-id, .answers-text {
	float: left;
	padding: 10px 0;
}

.questions-user-id, .answers-user-id {
	width: 120px;
	font-weight: bold;
	padding-left: 15px;
}

.questions-text {
	width: auto;
	margin-left: 10px;
	padding-right: 10px;
}

.btn-jawab-pertanyaan {
	float: right;
	margin-right: 10px;
	margin-bottom: 10px;
}

.answers {
	background-color: #B9F6CA;
	margin-left: 50px;
	overflow: auto;
}

.answers-text {
	width: 420px;
	margin-left: 10px;
	padding-right: 10px;
}

.section-4 {
	margin-bottom: 50px;
	width: 100%;
}

.btn-tawar {
	margin-bottom: 10px;
}

.detail-penawaran {
	display: none;
	width: 600px;
	margin-bottom: 20px;
	overflow-y: auto;
}

td.td-label {
	width: 150px;
}

td.td-titikdua {
	width: 10px;
}

td.td-harga {
	width: 150px;
}

td.td-action {
	width: 400px;
}

.container-tolak {
	display: none;
}

.input-alasan {
	margin-top: 10px;
}

.btn-submit-tolak, .btn-batal-tolak {
	float: right;
	margin-top: 5px;
}

.btn-batal-tolak {
	margin-right: 10px;
}

.btn-kirim-penawaran, .btn-batal-kirim-penawaran {
	float: right;
	margin-top: 10px;
	margin-right: 5px;
}