.table-container {
	margin: 0 auto 50px;
}

.table-kiriman {
	margin: 10px auto 0;
}

.table-kiriman tbody .tr-kiriman:hover {
	background-color: #E0E0E0 !important;
}

.table-kiriman td[data-col="action"] {
	width: 150px;
}

.tabs-content[data-tabs-number="1"] .table-kiriman, .tabs-content[data-tabs-number="1"] .table-empty-state {
	width: 1010px !important;
}

.tabs-content[data-tabs-number="2"] .table-kiriman, .tabs-content[data-tabs-number="2"] .table-empty-state, .tabs-content[data-tabs-number="3"] .table-kiriman, .tabs-content[data-tabs-number="3"] .table-empty-state, .tabs-content[data-tabs-number="4"] .table-kiriman, .tabs-content[data-tabs-number="4"] .table-empty-state, .tabs-content[data-tabs-number="5"] .table-kiriman, .tabs-content[data-tabs-number="5"] .table-empty-state {
	width: 1500px !important;
}

.tabs-content[data-tabs-number="6"] .table-kiriman, .tabs-content[data-tabs-number="6"] .table-empty-state {
	width: 1350px !important;
}

.tabs-content[data-tabs-number="7"] .table-kiriman, .tabs-content[data-tabs-number="7"] .table-empty-state {
	width: 1490px !important;
}

.tabs-content[data-tabs-number="8"] .table-kiriman, .tabs-content[data-tabs-number="8"] .table-empty-state {
	width: 1040px !important;
}

.btn-deal, .btn-pesan, .btn-dikirim, .btn-diambil, .btn-diterima, .btn-batal-pengiriman {
	display: block;
	margin: 0 auto;
	width: 110px;
}

.btn-batal-pengiriman {
	margin-top: 10px;
}

.subsection-sort {
	float: right;
}

.btn-action {
	display: block;
	margin: 0 auto;
}

.btn-view-kontak {
	margin-top: 10px;
}

table tbody tr:nth-child(even) {
	background-color: transparent !important;
}

table tbody tr:nth-child(4n - 1), table tbody tr:nth-child(4n) {
	background-color: #EEE !important;
}

.row-detail-tr {
	height: 0;
}

.row-detail-tr.show {
	min-height: 270px;
	max-height: 300px;
}

.tabs-content[data-tabs-number="7"] .row-detail-tr.show {
	height: 120px;
}

.row-detail-td {
	display: none;
	width: auto;
	height: 0;
	padding: 0;
	overflow: hidden;
	white-space: nowrap;
}

.row-detail-tr.show .row-detail-td {
	display: table-cell;
	vertical-align: top;
}

.row-detail-td-content {
	width: 100%;
	min-height: 260px;
	padding: 25px;
	opacity: 0;
	overflow: auto;
}

.tabs-content[data-tabs-number="7"] .row-detail-td-content {
	min-height: 130px;
}

.row-detail-tr.show .row-detail-td-content {
	animation-name: row-detail-td-show;
    animation-duration: 0.3s;
	animation-fill-mode: forwards;
}

@keyframes row-detail-td-show {
	to {
		opacity: 1;
	}
}

.detail-col {
	min-width: 350px;
	max-width: 450px;
	float: left;
	padding-right: 15px;
	margin-bottom: 20px;
}

.detail-title {
	font-weight: bold;
	margin-bottom: 10px;
}

.detail-row {
	margin-bottom: 10px;
}

.detail-row span {
	display: inline-block;
	vertical-align: top;
}

.detail-value {
	min-width: 220px;
	max-width: 320px;
	word-wrap: break-word;
	white-space: normal;
}

.detail-label {
	width: 100px;
}

.detail-titikdua {
	width: 10px;
}

.detail-status {
	clear: both;
}

.detail-status-title {
	float: left;
	font-weight: bold;
	padding-top: 10px;
	margin-right: 30px;
}

.tabs-content[data-tabs-number="7"] .detail-status-title {
	float: none;
	margin-bottom: 20px;
	margin-top: -20px;
}

.status-item {
	float: left;
	text-align: center;
}

.status-time {
	display: block;
	font-size: 10pt;
	margin-top: 5px;
	word-spacing: 3px;
}

.svg-right-arrow {
	display: block;
	float: left;
	margin: 0 10px;
}