

.table-kiriman {
	margin-top: 10px;
}

.table-kiriman a:link, .table-kiriman a:visited {
	text-decoration: none;
	color: black;
}

.table-kiriman tbody tr:hover {
	background-color: #E0E0E0 !important;
}

.shipment-picture {
	display: block;
	width: 100px;
	margin: 5px auto 0;
}

.subsection-sort {
	float: right;
}

.btn-action {
	display: block;
	margin: 0 auto;
}