.btn-tambah {
	margin-bottom: 20px;
}

.dialog-tambah, .dialog-edit {
	width: 700px;
}

.label-asal {
	margin-right: 15px;
}

.btn-submit-tambah, .btn-submit-edit, .btn-batal, .btn-submit-delete {
	float: right;
}