.table-container {
	margin: 0 auto 50px;
}

.table-kiriman {
	width: auto !important;
	margin: 10px auto 0;
}

.table-kiriman a:link, .table-kiriman a:visited {
	text-decoration: none;
	color: black;
}

.table-kiriman tbody .tr-kiriman:hover {
	background-color: #E0E0E0 !important;
}

.tabs-content[data-tabs-number="1"] .table-empty-state {
	width: 1000px;
}

.tabs-content[data-tabs-number="2"] .table-empty-state {
	width: 770px;
}

.table-kiriman td[data-col="nama-kirim"] {
	width: 150px;
}

.table-kiriman td[data-col="nama-kirim"] a {
	color: blue !important;
	text-decoration: underline !important;
}

.table-kiriman td[data-col="harga"] {
	width: 180px;
}

.table-kiriman td[data-col="asal"], .table-kiriman td[data-col="tujuan"] {
	width: 180px;
}

.table-kiriman td[data-col="km"] {
	width: 80px;
}

.table-kiriman td[data-col="action"] {
	width: 100px;
}

.table-kiriman td[data-col="muatan"] {
	width: 90px;
}

.table-kiriman td[data-col="supir"] {
	width: 120px;
}

.table-kiriman td[data-col="kendaraan"] {
	width: 120px;
}

.table-kiriman td[data-col="lacak"] {
	width: 100px;
}

.table-kiriman td[data-col="waktu-kiriman"] {
	width: 70px;
}

.table-kiriman td[data-col="total-waktu"] {
	width: 70px;
}

.table-kiriman td[data-col="berakhir"] {
	width: 230px;
}

.table-kiriman td[data-col="cancel-by"] {
	width: 150px;
}

.shipment-picture {
	display: block;
	width: 100px;
	margin: 5px auto 0;
}

.subsection-sort {
	float: right;
}