.btn-tambah {
	margin-bottom: 20px;
}

.table-rekanan {
	width: auto !important;
	margin: 0 auto;
}

.table-rekanan td[data-col="no"] {
	width: 50px;
}
.table-rekanan td[data-col="username"] {
	width: 200px;
}
.table-rekanan td[data-col="nama"] {
	width: 300px;
}
.table-rekanan td[data-col="status"] {
	width: 200px;
}

.table-empty-state {
	margin: 0 auto;
	width: 750px;
}
