.content {
	max-width: 1380px;
}

.btn-tambah {
	margin-bottom: 20px;
}

.btn-submit-tambah, .btn-submit-edit, .btn-batal, .btn-submit-delete {
	float: right;
}

.th-no, .td-no, .th-rating, .td-rating, .th-jumlah-transaksi, .td-jumlah-transaksi, .th-action {
	text-align: center;
}

.table-driver, .table-empty-state {
	width: 1380px !important;
	margin: 0 auto;
}

.table-driver td[data-col="no"] {
	width: 50px;
}
.table-driver td[data-col="nama-driver"] {
	width: 150px;
}
.table-driver td[data-col="no-hp"] {
	width: 130px;
}
.table-driver td[data-col="alamat"] {
	width: 250px;
}
.table-driver td[data-col="ketersediaan"] {
	width: 200px;
}
.table-driver td[data-col="rating"] {
	width: 100px;
}
.table-driver td[data-col="jumlah-transaksi"] {
	width: 100px;
}
.table-driver td[data-col="keterangan"] {
	width: 200px;
}
.table-driver td[data-col="status"] {
	width: 100px;
}
.table-driver td[data-col="action"] {
	width: 100px;
}

a.shipment-id {
	display: block;
	clear: both;
}

a.shipment-id:link, a.shipment-id:visited {
	color: blue;
}