.section-1 {
	overflow: auto;
	margin-bottom: 50px;
}

.rating-total {
	text-align: center;
	font-size: 14pt;
}

.rating-total-number {
	width: 100px;
	height: 100px;
	padding-top: 25px;
	font-size: 28pt;
	display: inline-block;
	border: 1px solid black;
	border-radius: 100%;
}

.sort {
	float: right;
	margin-right: 10%;
	width: 250px;
	overflow: auto;
	margin-bottom: 50px;
}

.select-sort {
	width: 180px;
}

.feedback-item {
	width: 90%;
	overflow: auto;
	position: relative;
	box-shadow: 0 0 5px #AAA;
	border-radius: 3px;
	margin-bottom: 20px;
}

.feedback-item-left {
	width: 25%;
	float: left;
	padding: 10px 10px 0;
}

.feedback-item-left table td {
	padding: 5px;
}

.feedback-item-left .td-label {
	text-align: right;
	width: 70px;
}

.feedback-item-left .td-value {
	color: #1976D2;
}

.stars-container {
	float: left;
	width: 90px;
	margin-top: 8px;
	
}

.star {
	fill: #FFD600;
}

.rating-number {
	font-size: 20pt;
}

.feedback-item-right {
	float: left;
	position: relative;
	width: 75%;
	border-left: 1px solid #CCC;
}

.feedback-text {
	margin: 20px 20px 0;
	padding-bottom: 40px;
	min-height: 100px;
}

.feedback-datetime {
	position: absolute;
	bottom: 10px;
	right: 10px;
	color: #888;
}

.btn-balas {
	float: right;
	margin-top: -100px;
}