.section-1 {
	height: 400px;
	margin-bottom: 50px;
}

.btn-tambah-user, .btn-tambah-group {
	margin-bottom: 20px;
}

label {
	cursor: pointer;
}

.label-checkbox-group {
	display: block;
}

.label-radio {
	margin-right: 15px;
}

.label-radio input[type="radio"] {
	margin-right: 5px;
}

.label-user-super-admin {
	margin-right: 15px;
}

.btn-submit-tambah, .btn-submit-edit, .btn-batal, .btn-submit-delete {
	float: right;
}

.table-group {
	width: 500px;
}

.td-no {
	width: 50px;
}

.error {
	color: red;
}