.section-1, .section-2 {
	max-height: 400px;
	min-height: 100px;
	margin-bottom: 50px;
}

.section-3 {
	margin-bottom: 50px;
}

.section-header {
	margin-bottom: 20px;
}

.section-title {
	font-weight: bold;
	font-size: 14pt;
	padding-right: 50px;
}

label {
	cursor: pointer;
}

.label-checkbox-group {
	display: block;
}

.label-radio {
	margin-right: 15px;
}

.label-radio input[type="radio"] {
	margin-right: 5px;
}

.label-user-super-admin {
	margin-right: 15px;
}

.btn-submit-tambah, .btn-submit-edit, .btn-batal, .btn-submit-delete {
	float: right;
}

.table-user, .table-user-pending, .table-group {
	display: block;
}

.table-user, .section-1 .table-empty-state {
	width: 1040px !important;
}

.table-user-pending, .section-2 .table-empty-state {
	width: 940px !important;
}

.table-group, .section-3 .table-empty-state {
	width: 370px !important;
}

.alt-width .table-user, .section-1.alt-width .table-empty-state {
	width: 920px !important;
}

.alt-width .table-group, .section-3.alt-width .table-empty-state {
	width: 250px !important;
}

td[data-col="no"] {
	width: 50px;
}

td[data-col="nama"] {
	width: 200px;
}

td[data-col="email"] {
	width: 200px;
}

td[data-col="group"] {
	width: 220px;
}

td[data-col="level"] {
	width: 150px;
}

td[data-col="status"] {
	width: 100px;
}

td[data-col="action"] {
	width: 120px;
}

.error {
	color: red;
}

.btn-override-password {
	margin-top: 20px;
}

.table-empty-state {
	margin: 0;
}