.section-1 {
	height: 400px;
	margin-bottom: 50px;
}

.btn-tambah-user, .btn-tambah-group {
	margin-bottom: 20px;
}

label {
	cursor: pointer;
}

.label-checkbox-group {
	display: block;
}

.label-radio {
	margin-right: 15px;
}

.label-radio input[type="radio"] {
	margin-right: 5px;
}

.label-user-super-admin {
	margin-right: 15px;
}

.btn-submit-tambah, .btn-submit-edit, .btn-batal, .btn-submit-delete {
	float: right;
}

.table-user, .table-group {
	display: block;
}

.table-group {
	width: 450px !important;
}

td[data-col="no"] {
	width: 50px;
}

td[data-col="nama"] {
	width: 200px;
}

td[data-col="email"] {
	width: 200px;
}

td[data-col="group"] {
	width: 200px;
}

td[data-col="level"] {
	width: 250px;
}

td[data-col="status"] {
	width: 100px;
}

td[data-col="action"] {
	width: 200px;
}

.error {
	color: red;
}

.table-empty-state {
	margin: 0;
}

.section-1 .table-empty-state {
	width: 1200px;
}

.section-2 .table-empty-state {
	width: 450px;
}