::-moz-selection {
	background-color: rgb(251, 231, 0);
	color: black;
}

::selection {
	background-color: rgb(251, 231, 0);
	color: black;
}

.content {
	min-height: calc(100vh - 200px);
}

.section-1 {
	width: 400px;
	padding-top: 50px;
	padding-left: 50px;
	overflow: auto;
}

.label, .input-user-email {
	font-size: 14pt;
}

.input-user-email {
	width: 350px;
	margin-top: 20px;

}

.btn-reset-password {
	display: block;
	float: right;
	background-color: #2196F3;
	color: white;
	margin-top: 40px;
}