.header {
	width: 100vw;
	position: fixed;
	top: 0;
	background-color: rgb(251, 231, 0);
	box-shadow: 0 0 10px #999;
	z-index: 1000;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */  
}

.header-overlay {
	width: 100%;
}

.logo {
	display: block;
	float: left;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.header.white-background {
	background-color: white;
	box-shadow: 0 0 5px #999;
}

@media all and (max-width: 1024px) {
	* {
		-ms-touch-action: pan-y;
		touch-action: pan-y;
	}

	.header, .header-overlay {
		height: 15vw;
	}

	.logo {
		width: 82.8vw;
		height: 15vw;
	}

	.header-right {
		display: none;
		position: fixed;
		width: 100vw;
		height: 100vh;
		z-index: 2000;
		background-color: rgba(0, 0, 0, 0.9);
		touch-action: none;
		opacity: 0;
	}

	@-webkit-keyframes show-header-right {
		to {
			opacity: 1;
		}
	}

	@keyframes show-header-right {
		to {
			opacity: 1;
		}
	}

	.header-right.show {
		display: block;
		-ms-animation: none;
		-webkit-animation: show-header-right 0.1s ease-out forwards;
        animation: show-header-right 0.1s ease-out forwards;
	}

	.mobile-header-right-icon {
		display: block;
		width: 11vw;
		height: 11vw;
		position: fixed;
		top: 2vw;
		right: 2vw;
		background-repeat: no-repeat;
		background-size: 100%;
		z-index: 5000;
	}

	.header-menu-container {
		position: absolute;
		width: 75vw;
		height: 75vw;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		vertical-align: middle;
	}

	.header-menu, .header-menu-dashboard {
		display: block;
		width: 75vw;
		text-align: center;
		font-size: 8vw;
		margin: 0 auto 8vw;
		font-weight: bold;
		color: #FFF;
	}

	.header-menu:link, .header-menu:visited {
		color: #FFF;
		text-decoration: none;
	}

	.header-menu-dashboard {
		padding: 4vw 0;
		border: 1px solid #FFF;
	}

	.footer {
		overflow-y: auto;
		background-color: #000;
		text-align: left;
		padding: 10vw 5vw;
	}

	.copyright {
		display: block;
		color: #FFF;
		line-height: 10vw;
		margin-bottom: 15vw;
	}

	.footer-link:link, .footer-link:visited {
		display: block;
		color: #FFF;
		line-height: 10vw;
		margin-bottom: 5vw;
		text-decoration: none;
	}
}

@media all and (max-width: 1024px), screen\0 {
	.header-right.show {
		opacity: 1;
	}
}

@media all and (min-width: 768px) and (max-width: 1024px) {
	.header, .header-overlay {
		height: 10vw;
	}

	.logo {
		width: 55.2vw;
		height: 10vw;
	}

	.mobile-header-right-icon {
		width: 10vw;
		height: 10vw;
		top: 0;
		right: 0.5em;
	}

	.copyright {
		font-size: 3.5vw;
	}

	.footer-link:link, .footer-link:visited {
		font-size: 3.5vw;
	}
}

@media all and (min-width: 1025px) {
	.header, .header-overlay {
		height: 70px;
	}

	.logo {
		width: 387px;
		height: 70px;
		margin-left: 30px;
	}

	.header-right {
		display: block;
		position: relative;
		width: auto;
		height: auto;
		background: none;
		float: right;
		margin-right: 5vw;
	}

	.mobile-header-right-icon {
		display: none;
	}

	.header-menu-container {
		position: relative;
	}

	.header-menu {
		display: inline-block;
		width: auto;
		font-size: 14pt;
		margin-top: 20px;
		margin-right: 50px;
		font-weight: bold;
		cursor: pointer;
		color: #000;
	}

	.header-menu:link, .header-menu:visited {
		color: #000;
		text-decoration: none;
	}

	.header-menu.active > .bottom-line {
		opacity: 1;
	}

	.header-menu:hover > .bottom-line {
		opacity: 1;
	}

	.header-menu-dashboard {
		padding: 10px;
		margin-top: -10px;
		color: black !important;
		border: 1px solid black;
	}

	.footer {
		height: 130px;
		background-color: #000;
		text-align: center;
	}

	.copyright {
		display: inline-block;
		color: white;
		line-height: 130px;
	}

	.footer-link:link, .footer-link:visited {
		display: inline-block;
		color: #FFF;
		text-decoration: none;
		line-height: 130px;
	}

	.footer-link:hover {
		text-decoration: underline;
	}

	.footer-margin {
		display: inline-block;
		width: 80px;
	}
}

.bottom-line {
	opacity: 0;
	width: 100%;
	height: 3px;
	background-color: #000;
	transition: all 0.2s;
}

.login-dialog {
	display: none;
	position: absolute;
	right: 3vw;
	top: 70px;
	width: 350px;
	height: 300px;
	padding: 30px;
	background-color: white;
	box-shadow: 0 0 10px #999999;
	border-radius: 3px;
}

.login-dialog:after, .login-dialog:before {
	bottom: 100%;
	left: 82%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.login-dialog:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: white;
	border-width: 15px;
	margin-left: -50px;
}
.login-dialog:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #DDD;
	border-width: 18px;
	margin-left: -53px;
}

.login-error {
	color: red;
	font-size: 10pt;
}

.login-dialog input[type="text"], .login-dialog input[type="password"] {
	display: block;
	border: 1px solid #757575;
	width: 100%;
	padding: 10px 15px;
}

.login-dialog input:focus {
	border: 1px solid #757575;
}

.login-dialog .forgot-password-link {
	display: block;
	font-size: 11pt;
	margin-top: 15px;
	float: right;
}

.remember-me {
	margin-top: 20px;
	color: #616161;
}

.remember-me label {
	font-size: 10pt;
}

.input-login-password {
	margin-top: 20px;
}

.btn-login {
	width: 100%;
	margin-top: 30px;
	padding: 15px 0 !important;
	background-color: rgb(251, 231, 0) !important;
	color: black !important;
	border: 0;
	cursor: pointer;
	font-weight: bold;
}

.header-menu-user {
	position: relative;
}

.profile-dropdown {
	display: none;
	position: absolute;
	width: 200px;
	top: 75px;
	right: 6vw;
	color: black;
	font-size: 11pt;
	background-color: white;
	padding: 10px 0;
	box-shadow: 0 0 10px #999999;
	border-radius: 3px;
}

.profile-dropdown:after, .profile-dropdown:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.profile-dropdown:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: white;
	border-width: 12px;
	margin-left: 10px;
}

.profile-dropdown:before {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #DDD;
	border-width: 15px;
	margin-left: 7px;
}

.profile-menu, .profile-menu:visited {
	display: block;
	color: black;
	text-decoration: none;
	padding: 10px 10px;
	cursor: pointer;
}

.profile-menu:hover {
	background-color: #EEEEEE;
}

.loading-div {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: white;
	display: none;
}

.loading-div.shown {
	display: block;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.loading-circle {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  border: 0.5rem solid transparent;
  border-top-color: #EF6C00;
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
}