.header {
	width: 100vw;
	height: 70px;
	position: fixed;
	top: 0;
	background-color: rgb(251, 231, 0);
	z-index: 1000;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */  
}

.logo {
	display: block;
	float: left;
	width: 387px;
	height: 70px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	margin-left: 30px;
}

.header.white-background {
	background-color: white;
	box-shadow: 0 0 5px #999;
}

.header-right {
	display: block;
	float: right;
	margin-right: 5vw;
	
}

.header-menu {
	display: inline-block;
	font-size: 14pt;
	margin-top: 20px;
	margin-right: 50px;
	font-weight: bold;
	cursor: pointer;
	color: #000;
}

.header-menu:link, .header-menu:visited {
	color: #000;
	text-decoration: none;
}

.header-menu.active > .bottom-line {
	opacity: 1;
}

.header-menu-dashboard {
	padding: 10px;
	margin-top: -10px;
	color: black !important;
	border: 1px solid black;
}

.bottom-line {
	opacity: 0;
	width: 100%;
	height: 3px;
	background-color: #000;
	transition: all 0.2s;
}

.header-menu:hover > .bottom-line {
	opacity: 1;
}

.login-dialog {
	display: none;
	position: absolute;
	right: 3vw;
	top: 70px;
	width: 350px;
	height: 300px;
	padding: 30px;
	background-color: white;
	box-shadow: 0 0 10px #999999;
	border-radius: 3px;
}

.login-dialog:after, .login-dialog:before {
	bottom: 100%;
	left: 82%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.login-dialog:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: white;
	border-width: 15px;
	margin-left: -30px;
}
.login-dialog:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #DDD;
	border-width: 18px;
	margin-left: -33px;
}

.login-error {
	color: red;
	font-size: 10pt;
}

.login-dialog input[type="text"], .login-dialog input[type="password"] {
	display: block;
	border: 1px solid #757575;
	width: 100%;
	padding: 10px 15px;
}

.login-dialog input:focus {
	border: 1px solid #757575;
}

.remember-me {
	margin-top: 20px;
	color: #616161;
}

.remember-me label {
	font-size: 10pt;
}

.input-login-password {
	margin-top: 20px;
}

.btn-login {
	width: 100%;
	margin-top: 30px;
	padding: 15px 0 !important;
	background-color: rgb(251, 231, 0) !important;
	color: black !important;
	border: 0;
	cursor: pointer;
	font-weight: bold;
}

.header-menu-user {
	position: relative;
}

.profile-dropdown {
	display: none;
	position: absolute;
	width: 200px;
	top: 75px;
	right: 6vw;
	color: black;
	font-size: 11pt;
	background-color: white;
	padding: 10px 0;
	box-shadow: 0 0 10px #999999;
	border-radius: 3px;
}

.profile-dropdown:after, .profile-dropdown:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.profile-dropdown:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: white;
	border-width: 12px;
	margin-left: 10px;
}

.profile-dropdown:before {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #DDD;
	border-width: 15px;
	margin-left: 7px;
}

.profile-menu, .profile-menu:visited {
	display: block;
	color: black;
	text-decoration: none;
	padding: 10px 10px;
	cursor: pointer;
}

.profile-menu:hover {
	background-color: #EEEEEE;
}

.loading-div {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: white;
	display: none;
}

.loading-div.shown {
	display: block;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.loading-circle {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  border: 0.5rem solid transparent;
  border-top-color: #EF6C00;
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
}

.header-overlay {
	width: 100%;
	height: 70px;
}

.footer {
	height: 130px;
	background-color: #000;
	text-align: center;
}

.copyright {
	display: inline-block;
	color: white;
	line-height: 130px;
}

.footer-link:link, .footer-link:visited {
	display: inline-block;
	color: #FFF;
	text-decoration: none;
	line-height: 130px;
}

.footer-link:hover {
	text-decoration: underline;
}

.footer-margin {
	display: inline-block;
	width: 80px;
}