.header {
	width: 100vw;
	height: 70px;
	position: fixed;
	color: white;
	top: 0;
	z-index: 1000;
}

.header.scroll {
	color: black;
}

.header.scroll .header-menu:link, .header.scroll .header-menu:visited {
	color: black;
}

.header.scroll .bottom-line {
	background-color: black;
}

.logo {
	display: block;
	float: left;
	margin-top: 15px;
	margin-left: 30px;
	font-size: 24pt;
}

a.logo:link, a.logo:visited {
	color: white;
	text-decoration: none;
}

.header.scroll a.logo:link, .header.scroll a.logo:visited {
	color: black;
	text-decoration: none;
}

.header-right {
	display: block;
	float: right;
	margin-right: 5vw;
}

.header-menu {
	display: inline-block;
	font-size: 14pt;
	margin-top: 22px;
	margin-right: 20px;
}

.header-menu:link, .header-menu:visited {
	color: white;
	text-decoration: none;
}

.bottom-line {
	opacity: 0;
	width: 100%;
	height: 3px;
	background-color: #FFFF00;
	transition: all 0.2s;
}

.header-menu:hover > .bottom-line {
	opacity: 1;
}