.section-1 {
	width: 100%;
	height: 600px;
	position: relative;
}

.image-container {
	width: 100%;
	height: 100%;
	position: relative;
}

.background-image {
	width: 100%;
	height: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	filter: brightness(30%);
}

.image-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.section-1-title {
	position: absolute;
	width: 100%;
	bottom: 100px;
	left: 0;
	color: white;
	text-align: center;
}

.title-text {
	font-size: 70pt;
}

.title-description {
	font-size: 22pt;
}

.section-1-buttons {
	margin-top: 50px;
}

.btn-pemilik, .btn-penerima {
	padding: 15px 20px;
	font-size: 14pt;
	border-radius: 5px;
	cursor: pointer;
}

.btn-pemilik {
	background-color: transparent;
	border: 2px solid #FFF000;
	color: #FFF000;
	margin-right: 20px;
}

.btn-pemilik:hover {
	background-color: #FFF000;
	border: 2px solid #FFF000;
	color: black;
}

.btn-penerima {
	background-color: #FFF000;
	border: 2px solid #FFF000;
	color: black;
}

.section-2 {
	width: 800px;
	overflow-y: auto;
	margin: 0 auto;
	padding: 100px 0;
}

.section-2-title {
	font-size: 36pt;
	margin-bottom: 20px;
	text-align: center;
}

.section-2-description {
	color: #757575;
	font-size: 14pt;
	line-height: 30px;
}

.section-3 {
	width: 100%;
	overflow-y: auto;
	margin: 0 auto;
	padding: 100px 0;
	background-color: #F5F5F5;
}

.section-3-inner {
	width: 950px;
	margin: 0 auto;
}

.section-3-title {
	font-size: 36pt;
	margin-bottom: 20px;
	text-align: center;
}

.mengapa-item {
	float: left;
	width: 200px;
	margin-right: 50px;
}

.mengapa-item:nth-child(4) {
	margin-right: 0;
}

.mengapa-item-icon {
	width: 90px;
	height: 90px;
	margin: 0 auto;
	background-size: 70px;
	background-repeat: no-repeat;
	background-position: center;
}

.mengapa-item-title {
	font-size: 14pt;
	font-weight: bold;
	text-align: center;
	margin-bottom: 5px;
	padding-top: 5px;
}

.mengapa-item-description {
	font-size: 12pt;
	text-align: center;
}

.section-4 {
	width: 100%;
	max-width: 1160px;
	overflow-y: auto;
	margin: 0 auto;
	padding: 10vh 0;
}

.section-4-title {
	font-size: 36pt;
	margin-bottom: 20px;
	text-align: center;
}

.section-4-content {
	width: 770px;
	margin: 0 auto;
}

.section-4-step {
	overflow: auto;
}

.section-4-step-left, .section-4-step-icon, .section-4-step-right {
	float: left;
}

.section-4-step-left, .section-4-step-right {
	width: 320px;
	min-height: 1px;
	padding: 15px 10px 0;
}

.section-4-step-left {
	padding-left: 0;
}

.section-4-step-right {
	padding-right: 0;
}

.section-4-step-icon {
	width: 70px;
	height: 70px;
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 100%;
	border: 2px solid black;
}

.step-number {
	display: inline-block;
	width: 30px;
	min-height: 1px;
	font-size: 28pt;
	font-weight: bold;
	margin-top: 12px;
}

.step-number.right {
	text-align: right;
}

.section-4-step.step-3 .section-4-step-right {
	padding-top: 23px;
}

.section-4-vertical-line {
	width: 1px;
	height: 25px;
	background-color: #999;
	margin: 10px auto;
}