::-moz-selection {
	background-color: rgb(251, 231, 0);
	color: black;
}

::selection {
	background-color: rgb(251, 231, 0);
	color: black;
}

@keyframes show {
	0% {
		opacity: 0;
		margin-top: 60px;
	}
	100% {
		opacity: 1;
		margin-top: 0;
	}
}

.section-1 {
	width: 100%;
	height: calc(100vh - 70px);
	position: relative;
	text-align: center;
}

.flash-message {
	width: 100%;
	height: 50px;
	z-index: 1;
	position: absolute;
	top: 0;
	background-color: #1B5E20;
	color: white;
	font-size: 14pt;
	padding-top: 12px;
}

.image-container {
	display: inline-block;
	width: 49%;
	height: 100%;
	position: relative;
	vertical-align: middle;
}

.background-image {
	width: 100%;
	height: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: right;
}

.image-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.section-1-right {
	display: inline-block;
	width: 50%;
	position: relative;
	vertical-align: middle;
}

.section-1-title {
	color: #000;
	padding-left: 5%;
	text-align: left;
}

.title-description-1 {
	font-size: 3em;
	font-weight: bold;
	margin-bottom: 25px;
}

.title-description-2 {
	font-size: 1.5em;
}

.section-1-buttons {
	margin-top: 100px;
	text-align: center;
}

.btn-pemilik, .btn-penerima {
	display: inline-block;
	padding: 15px 30px;
	font-size: 14pt;
	cursor: pointer;
	text-decoration: none;
	font-weight: bold;
	border: 2px solid #000;
}

.btn-pemilik {
	background-color: #000;
	color: rgb(251, 231, 0);
	margin-right: -5px;
	
	margin-right: 10px;
}

.btn-penerima {
	background-color: rgb(251, 231, 0);
	color: #000;
}

.section-2 {
	width: 100%;
	height: 600px;
	overflow-y: hidden;
	margin: 0 auto;
	padding: 150px 0 0;
	background-color: #F5F5F5;
}

.section-2 .section-content {
	width: 950px;
	margin: 0 auto;
	opacity: 0;
	text-align: center;
}

.section-2-title {
	margin-bottom: 50px;
}

.section-2-title-text {
	display: inline-block;
	font-size: 36pt;
	font-weight: bold;
	margin-top: -20px;
	margin-right: 20px;	
}

.section-title-logo {
	display: inline-block;
	width: 222px;
	height: 60px;
	padding-top: 20px;
	margin-bottom: -10px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.section-2-description {
	font-size: 16pt;
	line-height: 35px;
	
}

.section-3 {
	width: 100%;
	height: 900px;
	overflow-y: hidden;
	margin: 0 auto;
	padding: 120px 0 0;
}

.section-3 .section-content {
	opacity: 0;
	width: 900px;
	margin: 0 auto;
}

.section-3-title {
	margin-bottom: 75px;
	text-align: center;	
}

.section-3-title-text {
	display: inline-block;
	font-size: 36pt;
	font-weight: bold;
	margin-top: -20px;
	margin-right: 20px;
}

.mengapa-item-line-1 {
	overflow: auto;
}

.mengapa-item-line-2 {
	clear: both;
	margin-top: 50px;
}

.mengapa-item {
	float: left;
	width: 250px;
	margin-right: 75px;
}

.mengapa-item:nth-child(3), .mengapa-item:nth-child(6) {
	margin-right: 0;
}

.mengapa-item-icon {
	width: 250px;
	height: 100px;
	margin: 0 auto;
	background-size: 80px;
	background-repeat: no-repeat;
	background-position: center;
}

.mengapa-item-6 .mengapa-item-icon {
	background-size: 250px;
}

.mengapa-item-title {
	font-size: 14pt;
	font-weight: bold;
	text-align: center;
	margin-bottom: 5px;
	padding-top: 5px;
}

.mengapa-item-description {
	font-size: 13pt;
	text-align: center;
	line-height: 30px;
}

.section-2 .section-content.show, .section-3 .section-content.show, .section-4-content.show {
	animation-name: show;
	animation-duration: 0.5s;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
}

.section-4 {
	width: 100%;
	height: 550px;
	overflow-y: hidden;
	margin: 0 auto;
	padding-top: 100px;
	background-color: #F5F5F5;
}

.section-4-content {
	opacity: 0;
	overflow: auto;
}

.section-4-title {
	margin-bottom: 80px;
	text-align: center;	
}

.section-4-title-text {
	display: inline-block;
	font-size: 36pt;
	font-weight: bold;
	margin-right: 20px;
}

.section-4 .section-content {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.section-4-step {
	display: inline-block;
	width: 200px;
	vertical-align: top;
}

.section-4-horizontal-line {
	display: inline-block;
	width: 130px;
	height: 2px;
	margin: 42px -45px 0;
	background-color: #000;
}

.section-4-step-icon {
	width: 90px;
	height: 90px;
	margin: 0 auto;
	background-size: 50px;
	background-repeat: no-repeat;
	background-position: center;
	border: 3px solid #000;
	border-radius: 100%;
}

.section-4-step-description {
	font-size: 13pt;
	margin-top: 20px;
	line-height: 30px;
	font-weight: bold;
}

.section-4-step-description strong {
	font-size: 14pt;
}