.section-1 {
    width: 100%;
    height: calc(100vh - 70px);
    position: relative;
    display: table;
}

.section-1-image {
    width: 100%;
	height: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
    filter: brightness(30%);
    position: absolute;
    top: 0;
    left: 0;
}


.section-1-text {
    width: 100%;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    color: white;
    text-align: center;
}

.section-1-title {
    max-width: 900px;
    margin: 0 auto;
    font-size: 3em;
}

.section-1-description {
    font-size: 1.5em;
    margin-top: 50px;
}

.section-2 {
	width: 700px;
	height: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

.section-2 .section-title {
    font-size: 3em;
    text-align: center;
    margin-bottom: 60px;
}

.section-2 .section-content {
	width: 100%;
	margin: 0 auto;
}

.section-2-step {
    height: 90px;
    display: table;
}

.section-2-step-icon {
	width: 90px;
	height: 90px;
	display: table-cell;
	background-size: 50px;
	background-repeat: no-repeat;
	background-position: center;
	border: 3px solid #000;
	border-radius: 100%;
}

.step-5 .section-2-step-icon {
    background-size: 40px;
}

.step-6 .section-2-step-icon {
    background-size: 80px;
}

@keyframes anim {
    from { opacity: 0; }
    to { opacity: 1; }
}

.section-2-step-description {
    width: 305px;
    min-height: 1px;
    height: 100%;
    display: table-cell;
	font-size: 18pt;
    vertical-align: middle;
    opacity: 0;
}

.section-2 .section-content.show .section-2-step-description {
    -webkit-animation-name: anim;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-name: anim;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.section-2 .section-content.show .step-2 .section-2-step-description {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.section-2 .section-content.show .step-3 .section-2-step-description {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.section-2 .section-content.show .step-4 .section-2-step-description {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

.section-2 .section-content.show .step-5 .section-2-step-description {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.section-2 .section-content.show .step-6 .section-2-step-description {
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
}

.section-2-step-description:first-child {
    padding-right: 15px;
    text-align: right;
}

.section-2-step-icon + .section-2-step-description {
    padding-left: 15px;
}

.section-2-vertical-line {
    width: 1px;
    height: 30px;
    background-color: #777;
    margin: 20px auto;
}

.btn-daftar {
    display: inline-block;
    width: 300px;
    margin-top: 80px;
    border: 2px solid #EF5350;
    color: #EF5350;
    font-weight: bold;
}

.btn-daftar:hover {
    background-color: #F44336;
    border: 2px solid #F44336;
    color: white;
}