.section-1-image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(30%);
    background-color: #FFF;
    position: absolute;
    top: 0;
    left: 0;
}

.section-1-text {
    width: 100%;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    color: white;
    text-align: center;
}

.section-2 .section-content.show .step-2 .section-2-step-description {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.section-2 .section-content.show .step-3 .section-2-step-description {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.section-2 .section-content.show .step-4 .section-2-step-description {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

.section-2 .section-content.show .step-5 .section-2-step-description {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.section-2 .section-content.show .step-6 .section-2-step-description {
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
}

@keyframes anim {
    from { opacity: 0; }
    to { opacity: 1; }
}

.section-2 .section-content.show .section-2-step-description {
    -webkit-animation-name: anim;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-name: anim;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@media all and (max-width: 1024px) {
    .section-1 {
        width: 100%;
        height: 165vw;
        position: relative;
        display: table;
    }

    .section-1-image {
        background-size: auto 100%;
    }

    .section-1-title {
        margin: 0 auto;
        font-size: 8vw;
        margin-top: -20vw;
        text-align: left;
        padding: 0 5vw;
    }

    .section-1-description {
        font-size: 5vw;
        margin-top: 7vw;
        text-align: left;
        padding: 0 5vw;
    }

    .btn-daftar {
        display: inline-block;
        width: 80vw;
        font-size: 5vw;
        margin-top: 80px;
        border: 2px solid #EF5350;
        color: #EF5350;
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .btn-daftar:focus {
        background-color: #F44336;
        border: 2px solid #F44336;
        color: white;
    }

    .section-2 {
        width: 100vw;
        height: 310vw;
        margin: 0 auto;
        padding: 15vw 0 0;
    }

    .section-2 .section-title {
        font-size: 9.5vw;
        text-align: center;
        margin-bottom: 10vw;
    }

    .section-2-step {
        width: 100%;
        min-height: 45vw;
        overflow-y: auto;
        text-align: center;
        position: relative;
    }

    .section-2-step-icon {
        width: 24vw;
        height: 24vw;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        background-size: 15vw;
        background-repeat: no-repeat;
        background-position: center;
        border: 3px solid #000;
        border-radius: 100%;
    }

    .section-2-step-description {
        display: block;
        width: 100%;
        padding: 0 10vw;
        position: absolute;
        top: 26vw;
        text-align: center;
        font-size: 5vw;
        opacity: 0;
        margin: 0 auto;
    }

    .section-2-vertical-line {
        display: none;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .section-1 {
        height: 125vw;
    }

    .section-1-title {
        margin-top: -10vw;
    }

    .section-2 {
        height: 230vw;
        padding: 10vw 0 0;
    }

    .section-2 .section-title {
        font-size: 8vw;
        margin-bottom: 10vw;
    }

    .section-2-step {
        min-height: 34vw;
    }

    .section-2-step-icon {
        width: 16vw;
        height: 16vw;
        background-size: 10vw;
    }

    .section-2-step-description {
        padding: 0 10vw;
        top: 17vw;
        font-size: 4vw;
    }
}

@media all and (min-width: 1025px) {
    .section-1 {
        width: 100%;
        height: calc(100vh - 70px);
        position: relative;
        display: table;
    }

    .section-1-image {
        background-size: 100%;
    }

    .section-1-title {
        max-width: 900px;
        margin: 0 auto;
        font-size: 3em;
    }

    .section-1-description {
        font-size: 1.5em;
        margin-top: 50px;
    }

    .btn-daftar {
        display: inline-block;
        width: 300px;
        margin-top: 80px;
        border: 2px solid #EF5350;
        color: #EF5350;
        font-weight: bold;
    }

    .btn-daftar:hover {
        background-color: #F44336;
        border: 2px solid #F44336;
        color: white;
    }

    .section-2 {
        width: 770px;
        height: 1100px;
        margin: 0 auto;
        padding: 100px 0;
    }

    .section-2 .section-title {
        font-size: 3em;
        text-align: center;
        margin-bottom: 60px;
    }

    .section-2-step {
        height: 90px;
        display: table;
    }

    .section-2-step-icon {
        width: 90px;
        height: 90px;
        display: table-cell;
        background-size: 50px;
        background-repeat: no-repeat;
        background-position: center;
        border: 3px solid #000;
        border-radius: 100%;
    }

    .section-2-step-description {
        width: 340px;
        min-height: 1px;
        height: 100%;
        display: table-cell;
        font-size: 18pt;
        vertical-align: middle;
        opacity: 0;
    }

    .section-2-step-description:first-child {
        padding-right: 15px;
        text-align: right;
    }

    .section-2-step-icon + .section-2-step-description {
        padding-left: 15px;
    }

    .section-2-vertical-line {
        width: 1px;
        height: 30px;
        background-color: #777;
        margin: 20px auto;
    }
}