.section-1 {
    width: 100%;
    height: 600px;
    position: relative;
}

.section-1-image {
    width: 100%;
	height: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
    filter: brightness(30%);
}

.section-1-text {
    width: 100%;
    position: absolute;
    bottom: 130px;
    color: white;
    text-align: center;
}

.section-1-title {
    font-size: 3em;
}

.section-1-description {
    font-size: 1.5em;
    margin-top: 50px;
}

.section-2 {
	width: 700px;
	height: 850px;
    margin: 0 auto;
    padding: 100px 0;
}

.section-2 .section-title {
    font-size: 3em;
    text-align: center;
    margin-bottom: 30px;
}

.section-2-item {
    overflow: auto;
    margin-bottom: 30px;
}

.section-2-left {
    float: left;
    width: 100px;
    height: 50px;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 30px;
}

.section-2-right {
    width: 600px;
    float: right;
}

.section-2-item-title {
    font-size: 1.1em;
}

.section-2-item-description {
    color: #333;
    line-height: 30px;
}

.horizontal-line {
    width: 40px;
    height: 3px;
    background-color: #555;
    margin: 10px 0;
}

.btn-daftar {
    display: inline-block;
    width: 300px;
    margin-top: 80px;
    border: 2px solid #64B5F6;
    color: #64B5F6;
    font-weight: bold;
}

.btn-daftar:hover {
    border: 2px solid #2196F3;
    background-color: #2196F3;
    color: white;
}