.container {
	min-height: 720px;
}

input[type="text"] {
	border: 1px solid #999;
}

input[type="text"]:focus {
	border: 1px solid #1E88E5;
}

.container {
	width: 80vw;
	margin: 0 auto;
}

.section.fixed {
	top: 50px;
}

.table-kiriman.fixed thead {
	top: 160px !important;
}