.content {
    width: 700px;
    min-height: 1000px;
    overflow-y: auto;
    margin: 0 auto;
}

.content-right {
    width: 700px;
    padding-top: 50px;
    padding-bottom: 100px;
}

.title {
    font-size: 1.7em;
    margin-bottom: 30px;
}

.definition {
    margin-bottom: 30px;
    line-height: 25px;
    color: #444;
    font-size: 11pt;
}

.subtitle {
    font-weight: bold;
    margin-bottom: 10px;
}

li {
    margin-left: 17px;
    padding-left: 5px;
    font-size: 11pt;
}

ul li {
    list-style-type: disc;
}