.content {
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
}

.container {
	min-height: 750px;
}

.section-1 {
	margin-top: 50px;
	margin-bottom: 50px;
}

.username {
	font-size: 20pt;
}

.section-2 {
	overflow: auto;
	margin-bottom: 100px;
}

.subsection {
	float: left;
}

.subsection-kiriman {
	margin-right: 100px;
}

.section-title {
	font-size: 14pt;
	font-weight: bold;
	margin-bottom: 10px;
}

.table-statistik-kiriman, .table-statistik-bidding {
	width: 500px;
}

table td {
	width: 90px;
	text-align: center;
	border-bottom: 1px solid #BDBDBD;
}

.tr-col-header {
	font-weight: bold;
}

.tr-col-header td {
	font-size: 11pt;
}

.td-row-header {
	width: 100px;
	text-align: right;
	font-weight: bold;
	font-size: 11pt;
}

.section-3 {
	clear: both;
}

.subsection-rating-total {
	overflow: auto;
	margin-bottom: 50px;
	text-align: center;
}

.rating-total {
	display: inline-block;
	height: 100px;
}

.rating-label {
	float: left;
	font-size: 14pt;
	line-height: 100px;
	margin-right: 10px;
}

.rating-total-number {
	float: left;
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	font-size: 28pt;
	border: 1px solid black;
	border-radius: 100%;
}

.sort {
	float: right;
	width: 250px;
	overflow: auto;
	margin-bottom: 50px;
}

.select-sort {
	width: 180px;
}

.feedback-item {
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	position: relative;
	box-shadow: 0 0 5px #AAA;
	border-radius: 3px;
	margin-bottom: 20px;
}

.feedback-item-left {
	width: 25%;
	float: left;
	padding: 10px 10px 0;
}

.feedback-item-left table td {
	padding: 5px;
}

.feedback-item-left .td-label {
	text-align: right;
	width: 70px;
}

.feedback-item-left .td-value {
	color: #1976D2;
}

.table-feedback tr td {
	border: 0;
}

.stars-container {
	float: left;
	width: 90px;
	margin-top: 8px;
	
}

.star {
	fill: #FFD600;
}

.rating-number {
	font-size: 20pt;
}

.feedback-item-right {
	float: left;
	position: relative;
	width: 75%;
	border-left: 1px solid #CCC;
}

.feedback-text {
	margin: 20px 20px 0;
	padding-bottom: 40px;
	min-height: 100px;
}

.feedback-datetime {
	position: absolute;
	bottom: 10px;
	right: 10px;
	color: #888;
}