.container {
	height: 100vh;
	width: 100vw;
}

.navigation-header {
	height: 50px;
	width: 100%;
	position: fixed;
	background-color: #616161;
	color: white;
	z-index: 1000;
	top: 0;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */  
}

.menu-hamburger {
	float: left;
	margin-left: 15px;
	margin-top: 8px;
	cursor: pointer;
}

.logo {
	display: block;
	float: left;
	margin-left: 60px;
	width: 100px;
	height: 50px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.nav-account {
	float: right;
	position: relative;
	font-size: 14pt;
	padding: 5px 10px;
	margin-top: 9px;
	margin-right: 40px;
	cursor: pointer;
}

.nav-account:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.nav-account .fullname {
	float: left;
}

.nav-account .dropdown-icon {
	display: inline-block;
	margin-left: 5px;
}

.profile-dropdown {
	display: none;
	position: absolute;
	width: 150px;
	top: 40px;
	right: 0;
	border: 1px solid #AAA;
	color: black;
	font-size: 11pt;
	background-color: white;
	padding: 10px 0;
	box-shadow: 0 0 10px #AAA;
}

.profile-dropdown:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.profile-dropdown:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: white;
	border-width: 12px;
	margin-left: 10px;
}

.profile-menu, .profile-menu:visited {
	display: block;
	color: black;
	text-decoration: none;
	padding: 10px 10px;
	cursor: pointer;
}

.profile-menu:hover {
	background-color: #EEEEEE;
}

.logout {
	float: right;
	color: white;
	margin-top: 10px;
	margin-right: 20px;
}

.navigation-header-space {
	height: 50px;
	width: 100%;
}

.container-body {
	width: 100%;
	height: calc(100vh - 50px);
}

.navigation-menu {
	width: 220px;
	height: 100%;
	background-color: #616161;
	float: left;
	padding-top: 10px;
}

.navigation-menu a {
	display: block;
	width: 100%;
	color: white;
	text-decoration: none;
	font-size: 12pt;
	padding: 14px 0 14px 25px;
}

.navigation-menu a:hover, .navigation-menu a.active {
	background-color: rgba(0, 0, 0, 0.2);
}

.container-content {
	height: 100%;
	overflow-x: hidden;
	overflow-y: visible;
	padding: 15px;
	position: relative;
}

